@import "tailwindcss";

@theme {
  --font-primary: "Inter", system-ui;
  --font-secondary: "Space Grotesk", system-ui;
  --text-color-primary: "#e2e8f0";
  --text-color-cyan: "#22D3EE";
  --text-color-purple: "#A78BFA";
  --text-color-cinza: "#94a3b8";
  --text-color-backgound: "#0a0a1a";
}

#root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-gutter: stable;
}

.glass-effect {
  background: #ffffff0d;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid #ffffff1a;
}

.section-glass {
  background: rgba(15, 23, 42, 0.3);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.borda-gradiente {
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(90deg, #10b981, #0ea5e9, #6366f1);
  padding: 2px;
}

.borda-gradiente::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: #0f172a;
  margin: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  background: #0a0a1a;
}

::-webkit-scrollbar-thumb {
  background-color: oklch(68.5% 0.169 237.323);
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
   background-color: oklch(55% 0.169 237.323);
  cursor: pointer;
}



@layer components {
  .slider {
    @apply appearance-none w-full h-2 bg-gray-200 rounded-full outline-none transition-opacity duration-200;
  }

  .slider:hover {
    @apply opacity-100;
  }

  /* Chrome, Safari, Edge */
  .slider::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-gray-900 rounded-full cursor-pointer;
  }

  /* Firefox */
  .slider::-moz-range-thumb {
    @apply w-4 h-4 bg-gray-900 rounded-full cursor-pointer;
  }

  /* Trilho Firefox */
  .slider::-moz-range-track {
    @apply bg-gray-200 rounded-full;
  }
}
